/* This css page ONLY applies to the Registration (REG) Page */

/* STRATEGY: Remove inputs / buttons by DEFAULT */
form > fieldset > div > input#regClient
{  display: none;  }
/* replacement fields should have new class to differentiate */
form > fieldset > div > input.newField
{  display: inline;  }

/* increase size of "required" field stars (they're too small!) */
/* Note: [style] is useful b/c matches elems w/ style prop */
div#RegistorNum span[style] {
    font-size: 1.5em;
}
div#regClientDetails span[style] {
    font-size: 1.5em;
}